<h1>Your bookings</h1>
{{#each model.bookings as |booking|}}
  {{booking-card booking=booking rating=(get booking.rental.rentalRatings 'firstObject') currentUser=sessionAccount.currentUser}}
  }
{{/each}}

